{% extends "base.html" %}{% load static %}

<!-- prettier-ignore -->
{% block page_title %}{{ page_title }} - {{ block.super }}{% endblock page_title %}

      <!-- prettier-ignore -->
{% block visitor %}
    <h1>Welcome!</h1>
      <p>{% include 'snippets/user-msg.html' %}</p>
{% endblock visitor %}
{% block content %}
      <p>Welcome to {{ page_title }}</p>
      <form action="{% url 'generate_pdf' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Generate</button>
      </form>
{% endblock content %}