<div class="col mt-5">
    <div>
        <img class="rounded-circle" src="https://placehold.co/200x200" alt="" srcset="">
    </div>
    <table class="table table-hover text-start">
        <tbody>
            <tr>
            <th scope="row">*</th>
            <td>Nama Penuh</td>
            <td>Hariri Abdullah</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>No Ahli</td>
            <td>ASH182</td>
            </tr>
             <tr>
            <th scope="row">*</th>
            <td>Jenis Keahlian</td>
            <td>Seumur Hidup</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>Email</td>
            <td>email@email.com</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>Status</td>
            <td>Aktif</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>Jantina</td>
            <td>Lelaki</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>No Telefon</td>
            <td>0122222222</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>No Kad Pengenalan</td>
            <td>000000-00-6666</td>
            </tr>
            <tr>
            <th scope="row">*</th>
            <td>Pekerjaan</td>
            <td>Engineer</td>
            </tr>
        </tbody>
    </table>
    <div class="d-grid gap-2 mt-5">
        <button class="btn btn-outline-primary" type="button">Edit Profile</button>
    </div>
</div>